@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-bwalgk');
	src:url('fonts/icomoon.eot?#iefix-bwalgk') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-bwalgk') format('truetype'),
		url('fonts/icomoon.woff?-bwalgk') format('woff'),
		url('fonts/icomoon.svg?-bwalgk#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e900";
}
.icon-pencil:before {
	content: "\e905";
}
.icon-mobile2:before {
	content: "\e959";
}
.icon-users:before {
	content: "\e972";
}
.icon-happy:before {
	content: "\e9df";
}
